.edit-role-context__header {
  display: flex;
  justify-content: space-between;
}

.edit-role-context__role-link {
  flex-direction: column;
  align-items: start !important;
}

.edit-role-context__role-name {
  display: flex;
  align-items: center;
}
