.button-floating {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid $palette-neutral-400;
  background: $white;
  flex-shrink: 0;
  box-shadow: 0 6px 12px 0 rgba(7, 8, 16, 0.08);
  position: relative;

  @include rounded($rounded-3xl);

  &:hover:not(.button-floating--loading):not([disabled]) {
    background: $palette-neutral-25;
    color: $palette-blue-600;
    text-decoration: none;
  }

  // &:focus {
  //   box-shadow: 0 0 0 2px #fff, 0 0 0 4px #070810;
  // }
  &:active:not(.button-floating--loading) {
    background: $palette-neutral-50;
    color: $palette-blue-700;
    box-shadow: none;
  }

  &[disabled]:not(.button-floating--loading) {
    cursor: not-allowed;
    background: $palette-neutral-100 !important;
    color: $palette-neutral-700;

    @include add-elevation($elevation-low);
  }
}

.button-floating--fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.button-floating--loading {
  position: relative;
  cursor: wait;
  user-select: none;
  box-shadow: none;

  &::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0.15em solid;
    border-color: $palette-neutral-700 transparent $palette-neutral-700
      transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.button-floating--secondary {
  border: 1px solid $palette-neutral-200;
}

.button-floating__icon {
  font-size: 16px;
}
