.button-icon {
  cursor: pointer;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $palette-neutral-400;
  background: $white;
  color: $palette-neutral-1200;

  @include rounded($rounded);
  @include add-elevation($elevation-low);

  &:hover {
    background: $palette-neutral-25;
    color: $palette-blue-600;
    text-decoration: none;
  }

  //   &:focus {
  //     box-shadow: 0 0 0 2px #fff, 0 0 0 4px #070810;
  //   }

  &.active,
  &:active {
    background: $palette-neutral-50;
    color: $palette-blue-700;
    box-shadow: none !important;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    background: $palette-neutral-100 !important;
    color: $palette-neutral-700;
  }
}

.button-icon--loading {
  position: relative;
  cursor: wait;
  user-select: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.15em solid;
    border-color: $palette-neutral-700 transparent $palette-neutral-700
      transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.button-icon__icon {
  font-size: 16px;
}
