.choice-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;

  li {
    flex: 0 0 48%;
    margin-bottom: 10px;

    &:not(:nth-child(2n + 2)) {
      margin-right: 4%;
    }
  }

  &.choice-items--inline {
    width: auto;

    li {
      flex: 0 0;

      &:not(:nth-child(2n + 2)) {
        margin-right: 0;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.choice-items__link {
  @extend %ellipsis;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 48px 0 20px;
  line-height: 44px;
  font-size: 14px;
  color: $color-neutral-800;
  border-radius: 3px;
  gap: 5px;

  i {
    font-size: 18px;
  }

  &:hover {
    text-decoration: none;
  }

  &:not(.disabled):not(.active):hover {
    background-color: $color-neutral-100;
    color: $color-neutral-1100;
  }

  &.disabled {
    color: $color-neutral-600;

    &:hover {
      cursor: inherit;
    }
  }

  &.active {
    color: $color-neutral-1100;
    background-color: $color-blue-50;

    .iconoir-check-circle {
      position: absolute;
      color: $color-green-600;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.choice-items__icon {
  margin-right: 10px;
}
