.dropdown {
  position: relative;
  background-color: $white;
}

.dropdown__selected {
  @extend %ellipsis;

  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: 1px solid $color-neutral-600;
  border-radius: 3px;
  padding: 0 32px 0 12px;
  color: $color-neutral-1100;

  @include fixed-height(36px, 13px);

  &:hover {
    text-decoration: none;
    border-color: $color-neutral-600;
  }

  .dropdown--error & {
    border-color: $color-red-800;
  }

  .dropdown--tiny & {
    height: 32px;
    line-height: 32px;
  }

  .dropdown--disabled & {
    background-color: $color-neutral-50;
    color: $color-neutral-500;
    cursor: not-allowed;

    &:hover {
      border-color: $color-neutral-600;
    }
  }
}

.dropdown__selected-icon {
  color: $color-neutral-800;
  font-size: 16px;
}

.dropdown__selected-image {
  margin-right: 4px;
  max-width: 15px;
  max-height: 15px;
}

.dropdown__toggle-icon {
  position: absolute;
  top: 9px;
  right: 10px;
  font-size: 14px;
  bottom: 0;
}

.dropdown__items {
  border: 1px solid $color-blue-500;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 0 2px 6px 0 rgba($black, 0.16);
  z-index: 1;

  @include absolute(0, 0, auto, 0);

  &.dropdown__items--fixed {
    position: fixed;
    right: auto;
  }

  .select__item:hover {
    background-color: transparent;
  }

  .select__item.hover {
    background-color: $color-neutral-100;
  }

  .select__item.active {
    background-color: $color-blue-50;
  }

  .select__item.active:hover::after {
    display: block;
  }

  .dropdown--floating & {
    right: auto;
  }

  .dropdown--floating-left & {
    left: auto;
    right: 0;
  }
}
