.grid-field-boolean {
  height: 32px;
  display: flex;
}

.grid-field-boolean__checkbox {
  margin: auto;
  border-radius: 3px;
  color: $color-green-800;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  justify-content: center;
  font-size: 18px;

  &.grid-field-boolean__checkbox--read-only {
    cursor: initial;

    .grid-view__cell.active & {
      background-color: $color-neutral-50;
    }
  }

  .grid-view__cell.active & {
    border: 1px solid $color-neutral-600;
  }

  .grid-field-boolean__checkbox-icon {
    visibility: hidden;
  }

  &.active .grid-field-boolean__checkbox-icon {
    visibility: visible;
  }
}
